<div class="main-button-container">
  <div class="main-button">
    <div class="main-button wrapper center center-block main-button-content">
      <img class="ny-times-logo" src="../assets/svgs/nytimes-icon.png" />
      <div>
        <div>
          <div class="headline">
            <button class="button">
              <span><strong class="headline top">top stories</strong></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
