img {
  max-width: 100%;
  height: auto;
}

.ny-times-logo {
  width: 200px;
}

h1 {
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: -0.5rem;
}

h2 {
  font-family: var(--storyFont);
}

h3 {
  font-family: var(--storyFont);
}

* {
  box-sizing: border-box;
}
