/* You can add global styles to this file, and also import other style files */
@import './assets/styles/_variables.css';
@import './assets/styles/_global.css';
@import './assets/styles/_wrapper.css';
@import './assets/styles/_home.css';
@import './assets/styles/_button.css';

img {
  max-width: 100%;
  height: auto;
}

.ny-times-logo {
  width: 200px;
}
