.wrapper {
  /* border: 2px solid blue; */
  max-width: 400;
}

.wrapper.center {
  text-align: center;
}

.wrapper.center.center-block {
  display: inline-block;
}

.wrapper.button-content {
  top: 50%;
  transform: translateY(-50%);
}
